<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
<script src="path/to/dist/feather.js"></script>

<link href="../app/app.component.css" rel="stylesheet">

<!-- <style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 8px;
  }

  .toolbar #youtube-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover,
  .toolbar #youtube-logo:hover {
    opacity: 0.8;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

  svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
  }

  svg#rocket-smoke {
    height: calc(100vh - 95px);
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  .terminal {
    position: relative;
    width: 80%;
    max-width: 600px;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background-color: rgb(15, 15, 16);
  }

  .terminal::before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: rgb(58, 58, 58);
    color: #c2c3c4;
    width: 100%;
    font-size: 2rem;
    line-height: 0;
    padding: 14px 0;
    text-indent: 4px;
  }

  .terminal pre {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
  }

  .circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
  }

  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  .github-star-badge {
    color: #24292e;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 3px 10px;
    border: 1px solid rgba(27, 31, 35, .2);
    border-radius: 3px;
    background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
    margin-left: 4px;
    font-weight: 600;
  }

  .github-star-badge:hover {
    background-image: linear-gradient(-180deg, #f0f3f6, #e6ebf1 90%);
    border-color: rgba(27, 31, 35, .35);
    background-position: -.5em;
  }

  .github-star-badge .material-icons {
    height: 16px;
    width: 16px;
    margin-right: 4px;
  }

  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {

    .card-container>*:not(.circle-link),
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
</style> -->

<!-- Toolbar -->
<div class="container">
  <div class="toolbar" style="background-color: #574AEB; background: linear-gradient(90deg,#574AEB 45%, #3EA1DB 100%);">
    <nav class="navbar" style="margin-bottom: 50px!important;">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-sm-3 .col-md-2 co" style="margin-top: 50px!important;margin-left: 110px;">
            <a class="navbar-brand" href="#">Codelândia</a>
          </div>
        </div>
  
        <div class="row" style="margin-top: 50px!important;">
          <div class="col-lg">
            <a class="navbar-brand" href="#">Blog</a>
          </div>
        </div>
      </div>
    </nav>
  
    <nav style="background-color: #574AEB; background: linear-gradient(90deg,#574AEB 45%, #3EA1DB 100%);">
      <div class="container">
        <div class="row" style="margin-left: 100px!important;">
          <div class="col-lg">
            <form class="d-flex" role="search">
              <input class="form-control" type="search" placeholder="🔎 Pesquisar no blog" aria-label="Search"
                style="margin-bottom:50px!important; opacity: 0.4;">
            </form>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>

<div class="container">
  <div class="row" style="text-align: justify;">
    <div class="cards">
      <div class="d-flex justify-content-center">
        <div class="card" style="width: 50rem;margin-top: 50px;">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6 col-sm-3 .col-md-2 col">
                <label class="data" style="color: rgb(155, 151, 151);">02 de jul, 2021</label>
              </div>
              <div class="col-lg-6 col-sm-3 .col-md-2 col" style="text-align: right!important; color: blue;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart"
                  viewBox="0 0 16 16">
                  <path
                    d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                </svg>
              </div>
            </div>
            <h4 class="card-text" style="margin-top: 10px;border:steelblue">Agora é oficial: o Windows 11 está vindo</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis placeat pariatur aspernatur, quam quo,
              nulla delectus corporis consequuntur sunt vitae fugiat laudantium error accusantium nesciunt saepe deserunt
              unde tenetur libero.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row" style="text-align: justify;">
    <div class="cards">
      <div class="d-flex justify-content-center">
        <div class="card" style="width: 50rem;margin-top: 50px;">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6 col-sm-3 .col-md-2 col">
                <label class="data" style="color: rgb(155, 151, 151);">02 de jul, 2021</label>
              </div>
              <div class="col-lg-6 col-sm-3 .col-md-2 col" style="text-align: right!important; color: blue;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart"
                  viewBox="0 0 16 16">
                  <path
                    d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                </svg>
              </div>
            </div>
            <h4 class="card-text" style="margin-top: 10px;border:steelblue">Tim Berners-Lee vai leiloar código-fonte da Web</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis placeat pariatur aspernatur, quam quo,
              nulla delectus corporis consequuntur sunt vitae fugiat laudantium error accusantium nesciunt saepe deserunt
              unde tenetur libero.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row" style="text-align: justify;">
    <div class="cards">
      <div class="d-flex justify-content-center">
        <div class="card" style="width: 50rem;margin-top: 50px;">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6 col-sm-3 .col-md-2 col">
                <label class="data" style="color: rgb(155, 151, 151);">02 de jul, 2021</label>
              </div>
              <div class="col-lg-6 col-sm-3 .col-md-2 col" style="text-align: right!important; color: blue;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart"
                  viewBox="0 0 16 16">
                  <path
                    d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                </svg>
              </div>
            </div>
            <h4 class="card-text" style="margin-top: 10px;border:steelblue">Tem Firefox novo no pedaço e você vai querer migrar</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis placeat pariatur aspernatur, quam quo,
              nulla delectus corporis consequuntur sunt vitae fugiat laudantium error accusantium nesciunt saepe deserunt
              unde tenetur libero.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row" style="text-align: justify;">
    <div class="cards">
      <div class="d-flex justify-content-center">
        <div class="card" style="width: 50rem;margin-top: 50px;">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6 col-sm-3 .col-md-2 col">
                <label class="data" style="color: rgb(155, 151, 151);">02 de jul, 2021</label>
              </div>
              <div class="col-lg-6 col-sm-3 .col-md-2 col" style="text-align: right!important; color: blue;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart"
                  viewBox="0 0 16 16">
                  <path
                    d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                </svg>
              </div>
            </div>
            <h4 class="card-text" style="margin-top: 10px;border:steelblue">John McAfee, criador do antivirus Mcfee, morre</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis placeat pariatur aspernatur, quam quo,
              nulla delectus corporis consequuntur sunt vitae fugiat laudantium error accusantium nesciunt saepe deserunt
              unde tenetur libero.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
